footer {
  width: 100vw;
  padding: 4rem 0 1rem;
  text-align: center;

  .footer {
    color: map-get($colors, secondary);
    font-size: 1.5rem;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 374.98px) and (max-width: 767.98px) and (orientation: portrait) {
  footer {

    .footer {
      font-size: 0.75rem;
    }
  }
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) and (orientation: portrait) {
  footer {

    .footer {
      font-size: 1rem;
    }
  }
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) and (orientation: landscape) {
  footer {

    .footer {
      font-size: 1rem;
    }
  }
}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}
