@import "_variables.scss";
@import "nav.scss";
@import "title.scss";
@import "about.scss";
@import "projects.scss";
@import "contact.scss";
@import "footer.scss";

body, header {
font-family: 'Montserrat', sans-serif;
width: 100vw;
background-color: map-get($colors, main);
}

.main-bg {
background: url("/images/mainBg.jpg") center/cover;
z-index: -1;
width: 100vw;
height: 100%;
position: absolute;
}

.slide-wrap{
  max-width: 100%;
  opacity: 0;
  transform: translateY(200px);
  transition: all .5s ease-in-out;

  &.slide-up {
    opacity: 1;
    transform: translateY(0px);
  }
}

a:hover {
  text-decoration: none;
  color: map-get($colors, secondary);
}
