.navbar-dark {
  color: #DDDDDD; }

.navbar {
  padding: 0 2rem; }

.navbar-brand {
  margin: 0; }
  .navbar-brand .logo {
    width: 80px;
    height: 80px; }

.navbar-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-decoration: none;
  margin-right: 5rem; }

.nav-item {
  padding: 0 1.5rem; }

.nav-link {
  color: #DDDDDD;
  width: 100%;
  text-align: right;
  font-size: 1.5rem; }
  .nav-link:hover {
    cursor: pointer; }

@media (min-width: 374.98px) and (max-width: 767.98px) and (orientation: portrait) {
  .navbar {
    padding: 0 1rem; }

  .navbar-brand {
    padding: 0;
    margin: 0; }
    .navbar-brand .logo {
      width: 64px;
      height: 64px; }

  .navbar-nav {
    flex-direction: column;
    align-items: flex-end;
    margin-left: 1rem; }

  .nav-link {
    font-size: 12px;
    padding: 0.25rem 0; } }
@media (min-width: 768px) and (max-width: 991.98px) and (orientation: portrait) {
  .navbar-nav {
    flex-direction: column;
    align-items: flex-end;
    margin-left: 1rem; } }
@media (min-width: 992px) and (max-width: 1199.98px) and (orientation: landscape) {
  .navbar {
    padding: 0 1rem; }

  .navbar-brand {
    padding: 0;
    margin: 0; }
    .navbar-brand .logo {
      width: 64px;
      height: 64px; }

  .navbar-nav {
    flex-direction: row;
    align-items: center;
    margin-left: 0; }

  .nav-link {
    font-size: 1rem;
    padding: 0; } }
.title-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12% 0 25%; }

.title-text-container {
  width: 30%;
  text-align: left;
  margin-right: 10%; }
  .title-text-container h1 {
    font-size: 6rem;
    color: #DDDDDD; }
  .title-text-container h2 {
    font-size: 2rem;
    color: #DDDDDD;
    padding: 0 20% 0 0; }

.title-img-container {
  margin-left: 10%; }

.title-img {
  height: 400px;
  border-radius: 50%;
  border: 10px dashed #30475E; }

@media (min-width: 374.98px) and (max-width: 767.98px) and (orientation: portrait) {
  .title {
    height: 100vh; }

  .title-container {
    flex-direction: column;
    padding: 2% 0; }

  .title-text-container {
    width: 100vw;
    text-align: center;
    margin-right: 0;
    padding: 2rem 1.5rem; }
    .title-text-container h1 {
      font-size: 2rem;
      padding: 0; }
    .title-text-container h2 {
      font-size: 1.5rem;
      padding: 0; }

  .title-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin-left: 0; }
    .title-img-container .title-img {
      height: 300px;
      width: 300px; } }
@media (min-width: 768px) and (max-width: 991.98px) and (orientation: portrait) {
  .title-container {
    flex-direction: column;
    justify-content: flex-start;
    padding: 0;
    height: 100vh; }
    .title-container .title-text-container {
      width: 100%;
      text-align: center;
      margin-right: 0;
      padding: 25% 0 5%; }
      .title-container .title-text-container h1 {
        font-size: 3rem; }
      .title-container .title-text-container h2 {
        font-size: 2rem;
        padding: 0; }
    .title-container .title-img-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin-left: 0; }
      .title-container .title-img-container .title-img {
        height: 300px;
        width: 300px; } }
@media (min-width: 992px) and (max-width: 1199.98px) and (orientation: landscape) {
  .title-container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0; }

  .title-text-container {
    width: 50%;
    text-align: center;
    padding: 0 0 0 5rem; }
    .title-text-container h1 {
      font-size: 3.5rem;
      color: #DDDDDD; }
    .title-text-container h2 {
      font-size: 1.5rem;
      color: #DDDDDD;
      padding: 0; }

  .title-img-container {
    width: 50%;
    padding: 0 5rem 0 0; }

  .title-img {
    height: 350px;
    border-radius: 50%;
    border: 10px dashed #30475E; } }
.about {
  width: 100%;
  padding-top: 5rem; }

.about h1 {
  color: #DDDDDD;
  font-size: 3.5rem;
  text-align: center;
  padding-bottom: 2rem; }

.about-container {
  width: 100%;
  color: #DDDDDD;
  font-size: 2rem;
  padding-bottom: 5rem; }

.about-wrapper {
  width: 60%;
  border-style: solid;
  border-color: #30475E;
  border-width: 2px;
  border-left-width: 8px;
  border-radius: 0.5rem;
  margin: auto;
  margin-bottom: 2rem;
  padding: 1.5rem 2rem; }
  .about-wrapper p {
    text-align: left;
    padding-bottom: 0.5rem; }

@media (min-width: 374.98px) and (max-width: 767.98px) and (orientation: portrait) {
  .about h1 {
    font-size: 2rem; }

  .about-wrapper {
    width: 90%; }
    .about-wrapper p {
      font-size: 1rem;
      padding-bottom: 0;
      margin-bottom: 0; } }
@media (min-width: 768px) and (max-width: 991.98px) and (orientation: portrait) {
  .about h1 {
    font-size: 2.5rem; }

  .about-wrapper {
    width: 90%; }
    .about-wrapper p {
      font-size: 1.5rem;
      padding-bottom: 0;
      margin-bottom: 0; } }
@media (min-width: 992px) and (max-width: 1199.98px) and (orientation: landscape) {
  .about h1 {
    font-size: 2.5rem; }

  .about-wrapper {
    width: 90%; }
    .about-wrapper p {
      font-size: 1.5rem;
      padding-bottom: 0;
      margin-bottom: 0; } }
.projects h1 {
  font-size: 3.5rem;
  text-align: center;
  color: #DDDDDD; }

.project-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 5rem 0 15rem; }

.project-img-container {
  position: relative;
  width: 700px; }

.project-img {
  display: block;
  width: 100%;
  border-radius: 3%; }

.img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  color: #DDDDDD;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0;
  transition: opacity .3s;
  border-radius: 3%; }

.img-overlay > * {
  transform: translateY(5rem);
  transition: transform 0.4s; }

.img-overlay:hover {
  opacity: 1; }

.img-overlay:hover > * {
  transform: translateY(0); }

.img-title {
  font-size: 2.5rem;
  font-weight: bold; }

.img-description {
  font-size: 1.5rem;
  margin-top: 1rem; }

.project-btn {
  background-color: #30475E;
  color: #DDDDDD;
  border-radius: 0.5rem; }

@media (min-width: 374.98px) and (max-width: 767.98px) and (orientation: portrait) {
  .projects h1 {
    font-size: 2rem; }

  .project-container {
    padding-bottom: 5rem; }

  .project-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px; }

  .img-title {
    font-size: 1.5rem; }

  .img-description {
    font-size: 1rem; } }
@media (min-width: 768px) and (max-width: 991.98px) and (orientation: portrait) {
  .projects h1 {
    font-size: 2.5rem; }

  .project-container {
    padding-bottom: 5rem; }

  .project-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px; }

  .img-title {
    font-size: 1.5rem; }

  .img-description {
    font-size: 1rem; } }
@media (min-width: 992px) and (max-width: 1199.98px) and (orientation: landscape) {
  .projects h1 {
    font-size: 2.5rem; }

  .project-container {
    padding-bottom: 5rem; }

  .project-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px; }

  .img-title {
    font-size: 1.5rem; }

  .img-description {
    font-size: 1rem; } }
.tools {
  width: 100%; }
  .tools h1 {
    color: #DDDDDD;
    text-align: center;
    font-size: 3.5rem;
    padding-top: 7rem;
    padding-bottom: 7rem; }

.tools-video {
  position: absolute;
  width: 100%;
  opacity: 20%; }

.tools-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 45rem; }

.tool-list {
  width: 60%;
  column-count: 2;
  column-gap: 30rem;
  column-fill: auto;
  position: relative;
  line-height: 6rem;
  list-style: none;
  text-align: center;
  font-size: 2.5rem;
  color: #DDDDDD; }

.contact h1 {
  color: #DDDDDD;
  text-align: center;
  font-size: 3.5rem; }

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.contact-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid;
  border-color: #30475E;
  padding: 4rem; }
  .contact-card h2 {
    font-size: 2rem;
    color: #DDDDDD;
    padding-bottom: 2rem; }

.mail {
  font-size: 1.5rem;
  text-align: center;
  color: #DDDDDD;
  border-radius: 3%;
  background-color: #30475E;
  padding: 1rem 3rem; }
  .mail:hover {
    background-color: #527aa2; }

.media-container {
  margin-top: 5rem;
  width: 100%; }

.media-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 0; }

.media-item {
  color: #30475E;
  padding: 0 2rem;
  font-size: 4rem; }
  .media-item a {
    color: inherit; }

@media (min-width: 374.98px) and (max-width: 767.98px) and (orientation: portrait) {
  .contact h1 {
    font-size: 2rem; }

  .contact-container {
    margin: 0; }

  .contact-card {
    width: 90%;
    padding: 1rem;
    margin: auto; }
    .contact-card h2 {
      font-size: 1.5rem;
      text-align: center; }

  .mail {
    font-size: 1rem;
    text-align: center;
    padding: 0.5rem 1rem; }

  .media-item {
    font-size: 2rem; } }
@media (min-width: 768px) and (max-width: 991.98px) and (orientation: portrait) {
  .contact h1 {
    font-size: 2.5rem; }

  .contact-container {
    margin: 0; }

  .contact-card {
    width: 90%;
    padding: 1rem;
    margin: auto; }
    .contact-card h2 {
      font-size: 1.75rem;
      text-align: center; }

  .mail {
    font-size: 1.5rem;
    text-align: center;
    padding: 0.5rem 1rem; }

  .media-item {
    font-size: 2.5rem; } }
@media (min-width: 992px) and (max-width: 1199.98px) and (orientation: landscape) {
  .contact h1 {
    font-size: 2.5rem; }

  .contact-container {
    margin: 0; }

  .contact-card {
    width: 90%;
    padding: 1rem;
    margin: auto; }
    .contact-card h2 {
      font-size: 1.75rem;
      text-align: center; }

  .mail {
    font-size: 1.5rem;
    text-align: center;
    padding: 0.5rem 1rem; }

  .media-item {
    font-size: 2.5rem; } }
footer {
  width: 100vw;
  padding: 4rem 0 1rem;
  text-align: center; }
  footer .footer {
    color: #DDDDDD;
    font-size: 1.5rem; }

@media (min-width: 374.98px) and (max-width: 767.98px) and (orientation: portrait) {
  footer .footer {
    font-size: 0.75rem; } }
@media (min-width: 768px) and (max-width: 991.98px) and (orientation: portrait) {
  footer .footer {
    font-size: 1rem; } }
@media (min-width: 992px) and (max-width: 1199.98px) and (orientation: landscape) {
  footer .footer {
    font-size: 1rem; } }
body, header {
  font-family: 'Montserrat', sans-serif;
  width: 100vw;
  background-color: #222831; }

.main-bg {
  z-index: -1;
  width: 100%;
  position: absolute;
  opacity: 10%; }

.slide-wrap {
  max-width: 100%;
  opacity: 0;
  transform: translateY(200px);
  transition: all .5s ease-in-out; }
  .slide-wrap.slide-up {
    opacity: 1;
    transform: translateY(0px); }

a:hover {
  text-decoration: none;
  color: #DDDDDD; }

/*# sourceMappingURL=styles.css.map */
